@model Ba_Jet_App.expensedet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>expensedet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Category")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exp_Catg)
        </dd>

        <dt>
            @Html.DisplayName("Spent On")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exp_for)
        </dd>

        <dt>
            @Html.DisplayName("Amount")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exp_amount)
        </dd>

        <dt>
            @Html.DisplayName("Spent By")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shareholder.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.exp_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
